!!!5

%html
  %head
    %title Europe Food

    - if ENV['RACK_ENV'] == 'development'
      %script{src: 'jquery-1.8.3.min.js'}
    - else
      %script{src: 'ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'}

    %script{src: 'main.js'}

    %link{rel: 'stylesheet', href: 'site.css'}
    %link{href: 'http://fonts.googleapis.com/css?family=PT+Sans', rel: 'stylesheet', type: 'text/css'}

  %body

    %nav

      %ul
        %li#nav_map
          %a{href: '#map'} Map
        %hr
        - locations.sort_by(&:name).each do |location|
          %li
            %a{href: "##{location.name}"}= location.name
        %li#showInstructions ?

    #outerImpress
      #impress{'data-transition-duration' => @transition_duration}
        = yield

    #instructions
      Press the space bar to follow my entire trip.
      %br
      Or just click on a city.
      %br
      You can also use the arrow keys on your keyboard.

    %script{src: 'impress.js'}
