!!!5

%html
  %head
    - if ENV['RACK_ENV'] == 'development'
      %script{src: 'jquery-1.8.3.min.js'}
    - else
      %script{src: 'ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'}

    %script{src: 'main.js'}

    %link{rel: 'stylesheet', href: 'site.css'}
    %link{href: 'http://fonts.googleapis.com/css?family=PT+Sans', rel: 'stylesheet', type: 'text/css'}

  %body

    %nav
      %li#nav_map
        %a{href: '#map'} Map
      %hr
      - countries.sort_by(&:name).each do |country|
        %li
          %a{href: "##{country.name}"}= country.name

    = yield

    %script{src: 'impress.js'}
